<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Detail Item</p>
{% if item %}
    <p>name: {{ item.name }}</p>
    {% for image in item.images.all %}
     <img src="{{ image.img.url}}" alt="a cat photo"/>
    {% endfor %}
    <p>description: {{ item.description }}</p>
     <p>availability: {% if item.availability  %} <span>Available</span>{% else %}<span>Not available</span>{% endif %}</p>

{% else %}
    <p>Didn't find the Item...</p>
{% endif %}
</body>
</html>